 <h2>auror mu <br>illustrator</h2>
  <div class="container">
    <a href="/places" class="item full-width" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710939195/places/0501_fiac_zgi7hy.png');">places
    </a>

    <a href="/small_hoomans">
      <div class="item" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710932544/small_humans/tiny_creatures_cover_dujleu.png');">tiny creatures</div>
    </a>

    <a href="/portraits">
      <div style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710865859/portraits/portrait_mu_ugycds.png');" class="item">portraits</div>
    </a>

    <a href="/science_illustrations">
      <div class="item" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1711035340/science/human_cell_zwvrxu.png');">science illustrations</div>
    </a>
   <a href="/tech_illustrations">
      <div class="item" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1711035992/tech/tech_cover_dgjd3d.png');">tech illustrations</div>
    </a>
    <a href="/youth_illustrations" class="item full-width" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1711036387/youth_illustrations/youth_cover_dufziv.png');">youth <br>illustrations
    </a>
  </div>

  <div class="footer">
    <div class="footer-col">
      <div class="col">
        <a class="about" href="<%= about_path %>">about</a>
      </div>
      <div class="col">
        <a class="contact" href="<%= contact_path %>">contacts</a>
      </div>
    </div>
  </div>
