 <h2>auror mu <br>illustrator</h2>
  <div class="container">
    <a href="/places" class="item full-width" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710939195/places/0501_fiac_zgi7hy.png');">places
    </a>

    <a href="/small_hoomans">
      <div class="item" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710932544/small_humans/tiny_creatures_cover_dujleu.png');">tiny creatures</div>
    </a>

    <a href="/portraits">
      <div style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1710865859/portraits/portrait_mu_ugycds.png');" class="item">portraits</div>
    </a>

    <div style="background-image: url('<%= asset_path 'poulpe.jpg' %>');" class="item">Science <br>illustrations</div>

    <div style="background-image: url('<%= asset_path 'eng0202.png' %>');"  class="item">technical <br>illustrations</div>

    <a href="/youth_illustrations" class="item full-width" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1709233235/youth_illustrations/nuages1_hwoqjg.png');">youth <br>illustrations
    </a>
  </div>

  <div class="footer">
    <div class="footer-col">
      <div class="col">
        <a class="about" href="<%= about_path %>">about</a>
      </div>
      <div class="col">
        <a class="contact" href="<%= contact_path %>">contacts</a>
      </div>
    </div>
  </div>
