  <h2>About</h2>
    <img class="profile_pic" src="https://res.cloudinary.com/dncaa02l9/image/upload/v1710865859/portraits/portrait_mu_ugycds.png" alt="profile_pic">
  <div class="column">
    <p>Originally from Rome, I studied scenography at fine arts and earned a master's in art history, specializing in the illustrations of Boccaccio's Decameron. I've been in
    Paris since 2014, spending 8 years as an illustrator and grapic designer with Artips, collaborating with SNCF, Louvre, Article1, and many more. <br><br>January 2023, I ventured into coding,
    at Le Wagon, transitioning from an illustrator to a coding enthusiast, or combinig both. Ready for the journey of leveling up and exploring the digital realm.
    </p>
    <div class="container-question">
      <div class="question">Are you a scientist seeking to enhance your research with compelling illustrations?
        <img src="https://res.cloudinary.com/dncaa02l9/image/upload/v1710865655/portraits/illu_about_page_v5vrdw.png" alt="scientist">
      </div>
      <div class="question">Are you an author and want to publish your book with a creative touch?
        <img src="https://res.cloudinary.com/dncaa02l9/image/upload/v1710865658/portraits/illu_about_page1_pomkrn.png" alt="scientist">
      </div>
      <div class="question">Is your project in need of a warm touch to bring it to life?
        <img src="https://res.cloudinary.com/dncaa02l9/image/upload/v1710865662/portraits/illu_about_page2_mdk5wg.png" alt="scientist">
      </div>
    </div>
  </div>
  <div><%= link_to "back home <-", root_path, class: "link" %></div>
  <div class="credits">This site is made from scratch by the illustrator, me</div>
</body>
</html>
