<h2>about</h2>
<div class="row">
<div class="column">

<img class="profile_pic" src="https://res.cloudinary.com/dncaa02l9/image/upload/v1709557643/youth_illustrations/portrait_mu_k4wulv.png" alt="profile_pic">
<p>Born in Rome, academy of fine arts, master in art histoiry, thesis on the illustrations of the Decameron Boccaccio.
in paris since 2014, 8 years as illustrator @ artips company, family. work with sncf, louvre, article1 and more.
<br>Embarking on a coding odyssey this January 23. From illustrator to coding warrior,
leveling up and unlocking the hyperspace jump.
</p>
</div>
<div class= "grid-container">
<div class="grid-item"> Are you a scientist and need some illustrations ?</div>
<div class="grid-item"> Are you a writer and want to publish a book with me ? </div>
<%= link_to "back home <-", root_path, class: "link" %>
<div class="credits">This site is made from scratch by the illustrator, me</div>
</div>
