<div class="container_a148">
  <img class="image1" src="https://res.cloudinary.com/dncaa02l9/image/upload/v1712245944/portraits/A148_photo_owvxuo.png">
  <img class="image2" src="https://res.cloudinary.com/dncaa02l9/image/upload/v1712245944/portraits/A148_text_ggrlxd.png">
</div>
