<ul class="contact-list">
  <li><a href="mailto:your.email@example.com">Email</a></li>
  <li><a href="https://www.linkedin.com/in/your-linkedin-profile">LinkedIn</a></li>
  <li><a href="https://twitter.com/your-twitter-handle">Twitter</a></li>
  <li><a href="https://github.com/your-github-username">GitHub</a></li>
</ul>

<button class="back_home" role="button"><%= link_to "home", root_path, class: "link" %></button>
