<ul class="contact-list">
  <li><a href="mailto:auroragatto@gmail.com">Email</a></li>
  <li><a href="https://www.linkedin.com/in/aurora- muggianu/">LinkedIn</a></li>
  <li><a href="https://github.com/auror-mu">GitHub</a></li>
</ul>

<button class="back_home" role="button"><%= link_to "home", root_path, class: "link" %></button>
