
  <% images = [
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710948157/places/opera_gn763e.png', alt: 'opéra, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710949860/places/0101_surtoutisme_n7w2vl.png', alt: 'venice' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939227/places/nice_jp2a4s.png', alt: 'monument du centenaire, nice' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939224/places/kustmuseum_Basel_wfhqxx.png', alt: 'kunstmuseum, basel' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939207/places/bastille_h8lcz2.png', alt: 'bastille, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939184/places/2_archi_dotzvw.png', alt: 'villa savoie, poissy' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939186/places/05meb_small_ccfds3.png', alt: 'ancient egypt' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939233/places/zenith_kpyvh2.png', alt: 'le zenith, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939198/places/0602_q6tfll.png', alt: "fondation LV, paris" },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939230/places/pompidou_oiipr9.png', alt: 'centre pompidou, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939211/places/bernini_qtorlk.png', alt: 'baldacchino del bernini, roma' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710952015/places/cremlin_snuhzb.png ', alt: 'cremlin, moscow' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939195/places/0501_fiac_zgi7hy.png', alt: "grand palais, paris" },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710948879/places/weimar_g7kzcp.png', alt: 'bauhouse, weimar' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939217/places/hangar_y_pvohuh.png', alt: 'hangar y, meudon' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710949243/places/louvre_twsvcv.png', alt: 'louvre, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710949852/places/0201_3_e497jv.png', alt: 'egypt' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710939189/places/06meb_fbxppm.png', alt: 'kumano nachi-taisha, wakayama' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710951597/tiny_creatures/0305_2_iav80c.png', alt: 'sanlaz, paris' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1711024162/places/zentrum_paulklee_eeezw3.png', alt: 'paul klee center, bern' },
 ]%>
 <div>
  <h2>guess the place !</h2>
  </div>
<div class="col">
  <div class="grid-container">
  <% images.each do |image| %>
    <div class="grid-item" style="background-image: url('<%= image[:path] %>');">
      <div class="modal-content">
        <p><%= image[:alt].html_safe %></p>
      </div>
    </div>
  <% end %>
</div>
</div>
<button class="back_home" role="button"><%= link_to "home", root_path, class: "link" %></button>
