html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
  position: relative;
}

.profile_pic {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: black;
}

.credits {
  text-align: right;
  font-size: 12px;
}

.column {
  text-align: left;
  max-width: 70%;
  padding: 0 20px; /* Add some padding for better readability */
  box-sizing: border-box; /* Include padding in the width */
}

.container-question {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width dynamically */
  margin-top: 50px; /* Center the container */
  grid-gap: 20px;
}

.question {
  max-width: 100%;
}

.container-question img {
  max-width: 80%;
  height: auto; /* Maintain aspect ratio */
}

.p_small {
  font-size: 12px;
  margin: 20px 0; /* Add some margin for better readability */
}
