.grid-container-science{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  max-height: 100%;
  overflow: auto;
}
.grid-item-science{
  position: relative;
  padding: 50px;
  margin: 10%;
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.subtitle{
  position: absolute;
  color: black;
  padding: 10px;
  text-align: center;
  bottom: -45px;
}
/* devo utilizzare lo stesso modello di portraits
ma con le caratteristiche di youth */
