.container-youth {
  max-width: 800%;
  margin: 0 auto;
}

.row-youth {
  display: flex;
}

.image {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.image img {
  max-width: 100%;
  height: auto;
}
